* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    max-width: 940px;
    margin: 10px;
    padding: 1%;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 9px;
    text-align: center;
    background: black;
}

header li {
    display: inline-block;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: white
}

.conteudo {
    height: 1500px;
    padding: 100px;
}

section.content {
    margin-top: 100px;
}
