* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px;
    text-align: center;
    background: black;
    opacity: 0.8;
}

header li {
    display: inline-block;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: white
}

body {
    background: #fff;
    text-align: center;
    padding-top: 0px;
    font-family: "Open Sans", sans-serif;
  }
 
p {
    padding: 10px;
    margin: 0 0 30px 0;
}
  
h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

button{
    border-radius: 2px;
    border: 2px solid #ffffff;
    background-color: transparent;
    padding: 20px; 
    width: 200px;
    height: 20px;
    text-align: center;
}

div#inicio{
    background: white;
    color: white;
    grid-template-columns: auto 50% auto;
    border: chartreuse;
    box-sizing: border-box;
}
    .capa{
        background-image: url(imagem/sunset-5314319_1920.jpg);
        padding: 20%;
        width: 100%;
        height: 100vh;
    }
    div.capa_titulo h1 h2{
        color: white;
    }
    div.box_sobre{
        display: grid;
        grid-template-columns: auto auto;
        padding: 5% 5% 5% 5%;
        text-align: center;
        color: #666666;
        width: 100%;
        height: 100vh;
    }
    div.sobre_texto{
        padding: 5%;
        text-align: justify;
    }
    div.box_portifolio{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 2%;
        text-align: center;
        color: #666666;
    }
    div.galeria{
        display: grid;
        padding: 2%;
        text-align: center;
        background-color: lightgray;
        color: #666666;
        grid-template-columns:  auto auto auto;
        width: 100%;
    }
    div.box_contato{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 5% 5% 5% 5%;
        text-align: center;
        color: #666666;
        width: auto;
        height: 50vh;
    }
    div.grade{
        display: grid;
        background: #d6d6d6;
        padding: 10px;
        grid-template-columns: auto auto auto;
    }
    #map {
        align-items: center;
        width: auto;
        height: 300px;
    }
footer{
    background: #3c3c3c;
    color: #fff;
    padding: 1%;
    align-items: center;
}